<main class="main-first">

  <app-header></app-header>

  <section class="hero-section min-vh-100 d-flex align-items-center justify-content-center text-center text-white">

    <div class="container">
      <h1 class="display-4 font-weight-bold mb-3">EventLife</h1>
      <p class="lead mb-4">Crea eventos inolvidables o encuentra las mejores entradas para los eventos más emocionantes.</p>


      <div class="row justify-content-center ">
        <div class="col-md-8 w-100">
          <div class="input-group input-group-lg">
            <input  type="text"   class="form-control" placeholder="Buscar eventos" (ngModelChange)="buscarEventos()" [(ngModel)]="src">
          </div>
        </div>
      </div>


      <div class="mt-2">
        <ul class="list-group" style="max-height: 300px; overflow-y: auto; border-radius: 5px; width: auto">
          <li *ngFor="let event of data | async" class="list-group-item d-flex justify-content-between align-items-center" style="transition: background-color 0.3s;">
            <span class="font-weight-bold" (click)="navigateToEvent(event.id)" style="cursor: pointer; color: #007bff;">{{ event.title }}</span>
          </li>
        </ul>
      </div>

    </div>

  </section>

  <!-- Sección de eventos populares -->
  <section class="events-section py-5" style="background-color: #f8f9fa;">
    <div class="container">
      <app-popular-events></app-popular-events>
    </div>
  </section>

 <!-- Crear evento / Comprar tickets -->
 <section class="create-ticket-section py-5 text-center text-white d-flex align-items-center justify-content-center" style="background: linear-gradient(90deg, #004e92, #000428); height: 100vh;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-4">
        <app-crear-event></app-crear-event>
      </div>
      <div class="col-lg-6 mb-4">
        <app-buy-ticket></app-buy-ticket>
      </div>
    </div>
  </div>
</section>

  <app-footer></app-footer>
</main>