<main>

    <app-header></app-header>

    <div class="container py-6 d-flex flex-column justify-content-center custom-mobile" style=" min-height: 100vh;">

        <div class="mb-3" style="margin-top: 100px;">
            <label for="categoriaSelect">Filtrar por categoría:</label>
            <select id="categoriaSelect" class="form-select" [(ngModel)]="categoriaSeleccionada" (change)="filtrarEventos()">
                <option value="">Todas</option>
                <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
            </select>
        </div>

        <h3>Eventos Destacados</h3>


        <div class="col-md-4 mb-3 w-100 shadow" *ngFor="let evento of eventos">
            <div class="card d-flex flex-column" *ngIf="evento.destacado">

                <img class="w-100" [src]="evento.image" alt="Imagen del evento destacado"
                    style="height: 300px; object-fit: cover;">

                <div class="card-body">
                    <div class="rounded-pill text-bg-secondary m-2"
                        style="padding: 2,5px 0px; width: 100px; text-align: center; opacity: 50%;"><strong
                            class="fw-light">{{evento.categoria_name}}</strong></div>
                    <h5>{{ evento.title | uppercase }}</h5>
                    <p class="mb-0">{{ evento.date | date: 'EEEE, d \'de\' MMMM \'de\' yyyy' }}</p>
                    <small>Evento Destacado</small>
                </div>
                <button class="btn btn-primary w-50 mx-auto mb-3" (click)="verEvento(evento.id!)">Ver más</button>

            </div>
        </div>


        <h3 class="mt-5">Todos los Eventos</h3>
        <div class="row">
            <div class="col-md-4 mb-3"  *ngFor="let evento of eventosFiltrados">
                <div class="card shadow" *ngIf="!evento.destacado">
                    <img class="card-img-top" [src]="evento.image" alt="Imagen del evento"
                        style="height: 200px; object-fit: cover;">
                    <div class="card-body bg-light">
                        <div class="rounded-pill text-bg-secondary m-2"
                            style="padding: 2,5px 0px; width: 100px; text-align: center; opacity: 50%;"><strong
                                class="fw-light">{{evento.categoria_name}}</strong></div>
                        <h5 class="card-title">{{ evento.title | uppercase }}</h5>
                        <p class="card-text">{{ evento.date | date: 'EEEE, d \'de\' MMMM \'de\' yyyy'}}</p>
                        <button class="btn btn-primary w-50 mx-auto d-block"
                            (click)="verEvento(evento.id!)">Ver más</button>
                    </div>
                </div>
            </div>
        </div>
    </div>




</main>