@media (max-width: 768px) {
    .custom-mobile-1{
        width: 100% !important;
        margin: 0 !important; 
    }

    .custom-mobile{
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        
    }

    .custom-mobile-2{
    flex-direction: column-reverse !important;
    padding-top: 200px !important;
    }
 }
