@media (max-width: 768px) {
    .custom-mobile {
        margin-top: 50px; /* Espacio superior */
        width: 100% !important; /* Ancho completo */
        display: flex; /* Asegúrate de que sea un contenedor flex */
        flex-direction: column; /* Cambia la dirección a columna */
    }
    .custom-mobile-1 {
        width: 100% !important; /* Ancho completo */
        display: flex; /* Asegúrate de que sea un contenedor flex */
        flex-direction: column !important; /* Cambia la dirección a columna */
    }
}