<main>

    <app-header></app-header>

    <div class="d-flex justify-content-center align-items-center bg-light custom-mobile" style="min-height: 100vh;" >
        <div class="row w-100 justify-content-center">
            <div class="col-md-6 col-lg-8">
                <form class="p-4 bg-white" [formGroup]="formEditarEvento" (ngSubmit)="updateEvent()">
                    <h3 class="mb-4 text-center text-primary">Editar Evento</h3>

                    <!-- Agrupación en dos columnas -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Nombre del Evento</label>
                                <input formControlName="title" type="text" class="form-control" 
                                [ngClass]="{'is-invalid': formEditarEvento.get('title')?.invalid && formEditarEvento.get('title')?.touched}"
                                required>
                            </div>
                            <div *ngIf="formEditarEvento.get('title')?.invalid && formEditarEvento.get('title')?.touched" class="text-danger">
                                El nombre del evento es obligatorio.
                            </div>
                            
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Descripción</label>
                                <input formControlName="description" type="text" class="form-control" 
                                [ngClass]="{'is-invalid': formEditarEvento.get('description')?.invalid && formEditarEvento.get('description')?.touched}"
                                required>
                            </div>
                            <div *ngIf="formEditarEvento.get('description')?.invalid && formEditarEvento.get('description')?.touched" class="text-danger">
                                La descripción del evento es obligatorio.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Categoría Evento</label>
                            <select formControlName="category" class="form-select" 
                                    [ngClass]="{'is-invalid': formEditarEvento.get('category')?.invalid && formEditarEvento.get('category')?.touched}">
                                <option value="" disabled selected>Selecciona una categoría</option>
                                <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Capacidad</label>
                                <input formControlName="capacity" type="number" class="form-control" 
                                    [ngClass]="{'is-invalid': formEditarEvento.get('capacity')?.invalid && formEditarEvento.get('capacity')?.touched}"
                                    required>
                            </div>
                            <div *ngIf="formEditarEvento.get('capacity')?.invalid && formEditarEvento.get('capacity')?.touched" class="text-danger">
                                La capacidad del evento es obligatorio.
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Ubicación</label>
                                <input formControlName="location" type="text" class="form-control" 
                                    [ngClass]="{'is-invalid': formEditarEvento.get('location')?.invalid && formEditarEvento.get('location')?.touched}"
                                    required>
                            </div>
                            <div *ngIf="formEditarEvento.get('location')?.invalid && formEditarEvento.get('location')?.touched" class="text-danger">
                                La ubicación del evento es obligatorio.
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Precio</label>
                                <input formControlName="price" type="number" class="form-control" 
                                    [ngClass]="{'is-invalid': formEditarEvento.get('price')?.invalid && formEditarEvento.get('price')?.touched}"
                                    required>
                            </div>
                            <div *ngIf="formEditarEvento.get('price')?.invalid && formEditarEvento.get('price')?.touched" class="text-danger">
                                El precio del evento es obligatorio.
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Imagen</label>
                                <input formControlName="image" type="text" class="form-control" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Fecha</label>
                                <input formControlName="date" type="date" class="form-control" 
                                    [ngClass]="{'is-invalid': formEditarEvento.get('date')?.invalid && formEditarEvento.get('date')?.touched}"
                                    required>
                            </div>
                            <div *ngIf="formEditarEvento.get('date')?.invalid && formEditarEvento.get('date')?.touched" class="text-danger">
                                La fecha del evento es obligatorio.
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Hora</label>
                                <input formControlName="time" type="time" class="form-control" 
                                    [ngClass]="{'is-invalid': formEditarEvento.get('time')?.invalid && formEditarEvento.get('time')?.touched}"
                                    required>
                            </div>
                            <div *ngIf="formEditarEvento.get('time')?.invalid && formEditarEvento.get('time')?.touched" class="text-danger">
                                La hora del evento es obligatorio.
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-md-end gap-4">
                        <button type="button" class="btn btn-primary" (click)="updateEvent()"
                            style="width: 160px;">Actualizar evento</button>
                        <a type="button" class="btn btn-danger" href="/my-events">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div *ngIf="feedbackMessage" class="position-fixed top-0 end-0 p-3" style="z-index: 1050;">
        <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header"
                [ngClass]="{'bg-success text-white': feedbackSuccess, 'bg-danger text-white': !feedbackSuccess}">
                <strong class="me-auto">Notificación</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Cerrar"></button>
            </div>
            <div class="toast-body">
                {{ feedbackMessage }}
            </div>
        </div>
    </div>
</main>