<main>

  <app-header></app-header>
  <section class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="container">

      <button class="btn btn-secondary btn-sm me-2 mb-2" (click)="ordenarPorTitulo()">Ordenar por título</button>

      <button class="btn btn-secondary btn-sm me-2 mb-2" (click)="ordenarPorFecha()">Ordenar por fecha</button>
      <div class="table-container">
        <table class="table">
          <thead class="table-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre del Evento</th>
              <th scope="col">Fecha</th>
              <th scope="col">Ubicación</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let evento of eventos; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ evento.title }}</td>
              <td>{{ evento.date | date: 'mediumDate' }}</td>
              <td>{{ evento.location }}</td>
              <td>
                <button class="btn btn-primary btn-sm me-2" (click)="editEvent(evento.id!)">Editar</button>
                <button class="btn btn-danger btn-sm me-2" (click)="borrarEvent(evento.id!)">Eliminar</button>
                <a class="btn btn-info btn-sm" title="Ver más información" (click)="verEvento(evento.id!)">
                  <i class="fas fa-info-circle"></i> Ver más
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>
  </section>
</main>